@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    font-family: 'Kanit', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartao img{
    height: 100vh;
    width: 450px;
    position: relative;
}

.cartao-frente,
.cartao-costas{
    position: absolute;
}

.cartao-frente img,
.cartao-costas img{
    height: 220px;
    width: 350px;
}

.cartao-frente{
    top: 120px;
    left: 150px;
}

.cartao-costas{
    top: 380px;
    left: 250px;
}

.dados-cartao{
    position: absolute;
    top: 0;
}

p{
    color: white;
}

.numero-cartao{
    position: absolute;
    top: 120px;
    left: 10px;
    font-size: 1.8rem;
    width: 400px;
}

.nome-cartao{
    position: absolute;
    top: 170px;
    left: 15px;
    font-size: 1.2rem;
    width: 300px;
}

.validade-cartao{
    position: absolute;
    top: 170px;
    left: 270px;
    font-size: 1.2rem;
}

.cvv-cartao{
    position: absolute;
    top: 95px;
    left: 280px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    margin-right: 250px;
}

.formulario input{
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid rgba(161, 161, 161, 0.411);
}

.formulario .validade{
    display: inline;
}

.conjunto-card-form{
    display: flex;
    justify-content: space-around;
}

.numero-card input{
    width: 140px;
    margin-right: 10px;
}

.validade .mes-cartao,
.ano-cartao{
    width: 60px;
}

.validade{
    display: block;
    width: 150px;
    position: relative;
}

.ano-cartao{
    position: absolute;
    top: 23px;
    left: 80px;
}

.formulario p{
    color: #220930c2;
}

.formulario .confirmar{
    padding: 15px 115px;
    background-color: #220930;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
}

